body,
html {
  height: 100%;
}

header {
  height: 3rem;
  margin-bottom: 2rem;
  box-shadow: 0 0.3rem 2rem -0.5rem rgba(0,0,0,0.28);
}

.header-content {
  margin: 0 2rem;
}

header img {
  max-height: 2rem;
  margin: 0.5rem 0;
}

.login-logo {
  float: right;
}