.form-container {
  margin-top: 15vh;
}

form {
  position: relative;
  margin: 1rem auto;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 1rem #333;
}

h2 {
  text-align: center;
  font-weight: 200;
  font-size: 2rem;
  margin-top: 0.5rem;
}

fieldset {
  border: none;
  padding: 1rem;
}

label {
  display: block;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 0.5rem;
}

input[type=text],
input[type=password] {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 2rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  outline: 0;
  -moz-outline-style: none;
}

input[type=text].error,
input[type=password].error {
  border: 1px solid red;
}

input[type=text],
input[type=password] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid gray;
  font-size: 1rem;
  padding-left: 1rem;
}

input[type=password] {
  margin-bottom: 1rem;
}

input[type=submit] {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background: #5ad63d;
  border:none;
  color: white;
  font-size: 1.3rem;
  font-weight: 200;
  cursor: pointer;
  outline: none;
}

label.checkbox-label {
  width: 7rem;
  margin-right: 0;
  display: inline-block;
}

input[type=checkbox] {
  vertical-align: bottom;
  margin-bottom: 0.6rem;
}

@media only screen and (min-width : 640px) {
  form {
    width: 50%;
  }
}

@media only screen and (min-width : 960px) {
  form {
    width: 40%;
  }
}

@media only screen and (min-width : 1200px) {
  form {
    width: 30%;
  }
}

@media only screen and (min-width : 1600px) {
  form {
    width: 20%;
  }
}

